<a href="https://colab.research.google.com/github/mahek9696/NoteSharingWeb/blob/master/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 6   Accept the s from student And check weather the student belong from Computer Science Strem
s = input("Enter Your Roll No : ")
f1 = 0
for i in s:
  if i == 'c' or i == 'C':
    f1 = f1 + 1
  elif i == 's' or i == 'S':
    f1 = f1 + 1
if f1 == 2:
  print("Yes ! , This student belong from \"Computer Science\" Stream ")

Enter Your Roll No : cmsw23
Yes ! , This student belong from "Computer Science" Stream

In [ ]:
# 8   Find out pass % of class
n = int(input("Enter no. of Student : "))
sum = 0
count = 0
for i in range(n):
  marks = int(input("Enter Marks of Roll No."+str(i+1) + " : "))
  if marks > 40 :
    count = count + 1
  result = (count / n)*100
print("Result of Class is : ",result)

Enter no. of Student : 5
Enter Marks of Roll No.1 : 90
Enter Marks of Roll No.2 : 80
Enter Marks of Roll No.3 : 60
Enter Marks of Roll No.4 : 23
Enter Marks of Roll No.5 : 25
Result of Class is :  60.0

In [ ]:
# 4 Word shuffle using string manipulation

s = input("Enter String : ")
l = s.split()
#print(l)
#type(l)
l1 = l[0:len(l):2]
l2 = l[1:len(l):2]
l3 = l2[::-1] + l1[::-1]
#l3 = l1[::-1] + l2[::-1]
s1 = ' '.join(l3)
print("\n\n Shuffled String of given String is :\n")
print(s1)

Enter String : i m student in GVP of Computer Science Department


 Shuffled String of given String is :

Science of in m Department Computer GVP student i

In [ ]:
# 9 Print Fibonacci Series

n = int(input("Enter no. till u want Fibonacci Series : "))
a = 0
b = 1
print(a)
print(b)
for i in range(n):
  c = a + b
  a = b
  b = c
  print(c)

Enter no. till u want Fibonacci Series : 5
0
1
1
2
3
5
8

In [ ]:
# 10    Collatz Sequence

n = int(input())

while n != 1:
  if n % 2 == 0:
    n = int(n / 2)
    print(n)

  else:
    n = (n * 3) + 1
    print(n)

7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [ ]:
#
Birthday = {"Mahek": "01/06/2003",
            "Krisha": "01/07/2003",
            "Dhruvi": "01/08/2005"
            }
#print(Birthday.values(3:5))

m = input()
for i,j in Birthday.items():
  if j[3:5] == m:
    print(i)

06
Mahek

In [ ]:
price=int(input("PRICE: "))
deno1, deno2, deno3 = map(int, input("denominations: ").split())
print("can you form", price, "exactly using", deno1, deno2, deno3, "?")

for d1 in range(0, 1+price // deno1):
  for d2 in range(0, 1+price // deno2):
    for d3 in range(0, 1+price // deno3):
      if d1*deno1+d2*deno2+d3*deno3 == price:
        print(d1, d2, d3, end=", ")
else:
  print("no")

PRICE: 550
denominations: 10 50 100
can you form 550 exactly using 10 50 100 ?
0 1 5, 0 3 4, 0 5 3, 0 7 2, 0 9 1, 0 11 0, 5 0 5, 5 2 4, 5 4 3, 5 6 2, 5 8 1, 5 10 0, 10 1 4, 10 3 3, 10 5 2, 10 7 1, 10 9 0, 15 0 4, 15 2 3, 15 4 2, 15 6 1, 15 8 0, 20 1 3, 20 3 2, 20 5 1, 20 7 0, 25 0 3, 25 2 2, 25 4 1, 25 6 0, 30 1 2, 30 3 1, 30 5 0, 35 0 2, 35 2 1, 35 4 0, 40 1 1, 40 3 0, 45 0 1, 45 2 0, 50 1 0, 55 0 0, no

price=int(input("PRICE: "))
deno1 = int(input("Enter denominations1: "))
deno2 = int(input("Enter denominations2: "))
deno3 = int(input("Enter denominations3: "))

In [3]:
price=int(input("PRICE: "))
deno1 = int(input("Enter coin1: "))
deno2 = int(input("Enter coin2: "))
deno3 = int(input("Enter coin3: "))

for d1 in range(0, (price // deno1) + 1):
  for d2 in range(0, (price // deno2) + 1):
    for d3 in range(0, (price // deno3) + 1):
      if d1*deno1+d2*deno2+d3*deno3 == price:
        #print(d1, d2, d3, end=", ")
        print(d1, d2, d3)
else:
  print("No match for given price.")

PRICE: 55
Enter coin1: 1
Enter coin2: 5
Enter coin3: 10
0 1 5
0 3 4
0 5 3
0 7 2
0 9 1
0 11 0
5 0 5
5 2 4
5 4 3
5 6 2
5 8 1
5 10 0
10 1 4
10 3 3
10 5 2
10 7 1
10 9 0
15 0 4
15 2 3
15 4 2
15 6 1
15 8 0
20 1 3
20 3 2
20 5 1
20 7 0
25 0 3
25 2 2
25 4 1
25 6 0
30 1 2
30 3 1
30 5 0
35 0 2
35 2 1
35 4 0
40 1 1
40 3 0
45 0 1
45 2 0
50 1 0
55 0 0
No match for given price.

In [1]:
#  11  Primality testing : Given a positive integer, check if the number is prime or Not
n = int(input("Enter no to check whether no. is prime or not :"))
for i in range(2,n):
  if( i % 2 == 0):
    print("Entered no. not a Prime No. !  ")

else:
  print("No. is prime !!!! ")

Enter no to check whether no. is prime or not :13
Entered no. not a Prime No. !
Entered no. not a Prime No. !
Entered no. not a Prime No. !
Entered no. not a Prime No. !
Entered no. not a Prime No. !
Entered no. not a Prime No. !
No. is prime !!!!